.venv
.DS_Store

*.bin
*.fio
*.svg

hc_binmaker/ascii2fiodec
hc_binmaker/pdp1
hc_binmaker/*.txt
hc_binmaker/src/simhv36-1

!output/boc-olson.bin
!output/boc-olson.svg

title/ascii2fiodec
title/pdp1
!title/digital-1-1a-s-mb_6-63_MACRO.bin

tweak/tweak

verify/decodehcint

voices/boc-olson.txt